In [1]:
import pandas as pd

# StackOverflow Survey

In [2]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [23]:
df.head(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [24]:
df.tail(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [25]:
# It tells the number of rows and column in the table in a tuple form
df.shape

(88883, 85)

In [26]:
pd.set_option('display.max_column',20)
pd.set_option('display.max_rows',20)

In [28]:
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

## read data within a DataFrame

In [3]:
people = {
    'first'  : ['Riz', 'Lethur', 'Ramona'],
    'second' : ['White', 'Black', 'Brat'],
    'email'  : ['riz.white@rediff.com', 'lethur.black@gmail.uk', 'ramona.brat@yahoo.us']
}

df = pd.DataFrame(people)

### df['email'] & df.email both way we can access a column within a dataframe

Brack representation is safer. Becasue if the name of the column is same as the attribute or method of the dataframe
dot notation will call that attribute.

In [32]:
df['email']

0     riz.white@rediff.com
1    lethur.black@gmail.uk
2     ramona.brat@yahoo.us
Name: email, dtype: object

In [33]:
df.email

0     riz.white@rediff.com
1    lethur.black@gmail.uk
2     ramona.brat@yahoo.us
Name: email, dtype: object

In [36]:
# list all columns in the dataframe
df.columns

Index(['first', 'second', 'email'], dtype='object')

In [8]:
# list only the first row of the dataframe using iloc i.e index location
# In iloc we can not pass column name as it takes only integer
df.iloc[0]

first                      Riz
second                   White
email     riz.white@rediff.com
Name: 0, dtype: object

In [12]:
# Similar to accessing multiple columns, we can also access multiple rows
# print(df.iloc[[0]])

df.iloc[[0,1]]

    first second                  email
0     Riz  White   riz.white@rediff.com
1  Lethur  Black  lethur.black@gmail.uk

In [14]:
# with iloc we can access specific rows and columns. The first list represent rows and second list represent columns. With iloc() we can not specify the column name
df.iloc[[1,2],[1,2]]

  second                  email
1  Black  lethur.black@gmail.uk
2   Brat   ramona.brat@yahoo.us

In [17]:
# with loc we can specify the column names. The first list represent rows and second list represent columns.
df = pd.read_csv("data/survey_results_public.csv")
df.loc[[0,1],['Age', 'OpenSource']]

    Age                                         OpenSource
0  14.0  The quality of OSS and closed source software ...
1  19.0  The quality of OSS and closed source software ...

In [18]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [ ]:
# info() is same as shape attribute, but with more info. Along with number of rows and columns, it also provide the name of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [ ]:
# valus_counts() represt a value occur how many times in a column
df['Country'].value_counts()

Country
United States of America                                18647
Germany                                                  7328
India                                                    5625
United Kingdom of Great Britain and Northern Ireland     5552
Canada                                                   3507
                                                        ...
Liechtenstein                                               1
Grenada                                                     1
Central African Republic                                    1
Guinea-Bissau                                               1
San Marino                                                  1
Name: count, Length: 185, dtype: int64

In [ ]:
# First argument takes list of rows and second argument takes column name. Here we want to know the Country column value for mentioned rows in the list
df.loc[[0,1,2],'Country']

0                         NaN
1    United States of America
2    United States of America
Name: Country, dtype: object

In [ ]:
# using slicing get first 3 rows. The difference with Python slicing is it consider the last index of the slicing as well.
df.loc[0:2,'Country']

0                         NaN
1    United States of America
2    United States of America
Name: Country, dtype: object

In [ ]:
# using slicing get first 3 rows and slicing of columns
df.loc[0:3, 'Country': 'CompTotal']

                    Country                   Currency  CompTotal
0                       NaN                        NaN        NaN
1  United States of America  USD\tUnited States dollar   285000.0
2  United States of America  USD\tUnited States dollar   250000.0
3  United States of America  USD\tUnited States dollar   156000.0

In [19]:
df.iloc[1:3,1:3]

                                          MainBranch Hobbyist
1             I am a student who is learning to code       No
2  I am not primarily a developer, but I write co...      Yes

# Different Ways to create Series

In [37]:
# Creating Empty Series
ser1 = pd.Series()
print(ser1)
print("========")

# Creating list from Scalar value
ser2 = pd.Series(10, index=[0, 1, 2])
print(ser2)

Series([], dtype: object)
========
0    10
1    10
2    10
dtype: int64

In [33]:
# Creating series from array
import numpy as np
data = np.array(['h','e','l'])
ser = pd.Series(data)
print(ser)

0    h
1    e
2    l
dtype: object

In [35]:
ser = pd.Series(data, index = [10,11,12])
print(ser)

10    h
11    e
12    l
dtype: object

In [36]:

# Creating Series from list
data = ['h','e','l']
ser = pd.Series(data)
print(ser)

0    h
1    e
2    l
dtype: object

In [27]:
# Creating Series from dictionary
data = {"k1":"v1","k2":"v2","k3":"v3"}
ser = pd.Series(data)
print(ser)

k1    v1
k2    v2
k3    v3
dtype: object

# Different Ways to create Dataframe

In [38]:
# Creating empty DF
daf = pd.DataFrame()
print(daf)

Empty DataFrame
Columns: []
Index: []

In [40]:
# Creating DF from single list
fruits = ['apple','mango','banana']
daf = pd.DataFrame(fruits,columns = ['fruit'])
daf

    fruit
0   apple
1   mango
2  banana

In [41]:
# Creating Dataframe from list of list

profile = [['John',25],['Sam',32],['Rohit',23]]
daf = pd.DataFrame(profile,columns =['Name','Age'])
daf

    Name  Age
0   John   25
1    Sam   32
2  Rohit   23

In [42]:
# Creating Dataframe from dictionary of ndarray/lists
data = {'Name': ['Max', 'Lara', 'Koke', 'muller'],'Age': [10, 31, 91, 48]}
daf = pd.DataFrame(data)
daf

     Name  Age
0     Max   10
1    Lara   31
2    Koke   91
3  muller   48

In [43]:
# Creating Dataframe from lists using a dictionary
data = [{'aa': 1, 'bs': 2, 'cd': 3},{'aa': 10, 'bs': 20, 'cd': 30}]
daf = pd.DataFrame(data)
daf

   aa  bs  cd
0   1   2   3
1  10  20  30

In [44]:
# Creating Dataframe from Series
d = pd.Series([10, 20, 30, 40])
daf = pd.DataFrame(d)
print(daf)

    0
0  10
1  20
2  30
3  40

In [47]:
# Creating Dataframe from Dictionary of Series
d = {'one': pd.Series([10, 20, 30, 40],index=['a', 'b', 'c', 'd']),
	'two': pd.Series([10, 20, 30, 40],index=['a', 'b', 'c', 'd'])}

daf = pd.DataFrame(d)
print(daf)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

# Converting Series to Frame

In [63]:
# converting Series to frame
ser2 = pd.Series(10, index=[0, 1, 2])
print(ser2)
daf = ser2.to_frame(name=None)

0    10
1    10
2    10
dtype: int64

In [64]:
daf

   None
0    10
1    10
2    10