In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {
    'A': [1,2,np.nan],
    'B': [5,np.nan,np.nan],
    'C':[1,2,3]
}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Drop Missing value

In [4]:
# any row having missing value will be dropped. By default for rows axis=0
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
# Drop column having missing value. 
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [6]:
# use thresh to define number of missing value makes a row/column eligible to be dropped
df.dropna(thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [8]:
df.dropna(axis=1,thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

### Fill missing value

In [11]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [10]:
df.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [13]:
# missing value can be mean of the column
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [16]:
# for mean count the missing value as well
df['A'].fillna(value=df['A'].fillna(0).mean())

0    1.0
1    2.0
2    1.0
Name: A, dtype: float64

In [17]:
df.fillna(0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [21]:
# Replace missing value with the mean of each column
df.fillna(df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3

In [20]:
# Replace missing value with the mean of each column
df.fillna(df.fillna(0).mean())

     A         B  C
0  1.0  5.000000  1
1  2.0  1.666667  2
2  1.0  1.666667  3